[settings]
last-window-width=710
last-window-height=530
homepage=http://127.0.0.1
enable-spell-checking=false
toolbar-items=TabNew,Back,ReloadStop,Homepage,Location,BookmarkAdd,CompactMenu
location-entry-search=http://www.google.com/search?q=%s
load-on-startup=MIDORI_STARTUP_HOMEPAGE
